/*footer*/
.footer {
    grid-area: ft;
    background-color:#134;
    height: 80px;
    text-align: center;
    }
/*text in footer*/
footer{
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: 20px;
    }

/*Styling Social icons in footer*/
.fab {
    font-size: 15px;
    width: 30px;
    color: #fff;
    margin-top: 15px;
  }