body {
  background-color: white;
  z-index: -2;
}

/* Box one*/
.box-one {
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
  width: 450px;
  height: 320px;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 5px;
  text-align: center;
  border-radius: 2px;
  }

  /* Box twor*/
.box-two {
  display: grid;
  background-color: rgba(0, 0, 0, 0.6);
  width: 450px;
  height: 340px;
  padding: 10px 20px;
  margin-top: 5px;
  margin-left: 80px;
  text-align: center;
  border-radius: 2px; 
  }

h2 {
  font-size: 25px;
  color:#3ae;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  text-decoration: none;   
  }

h3 {
  font-size: 30px;
  color:#3ae;
  text-align: center;
  margin-top: 10px;
  font-weight: bold; 
  }

/* to styliyng p different from the others*/
#one {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
  }
  
p {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
  line-height: 30px;
  margin-bottom: 5px;
  color: #fffaf0;
  padding-left: 40px;
  padding-right: 40px;
  }

/* Buttons */
.btn {
  position: relative;
  width: 150px;
  padding: 10px 0;
  font-family: 'Playfair Display', serif;
  font-size: 1.1em;
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px;
  margin-left: 10px;
  cursor: pointer;
  display: inline-block;
  }
  
.btn-primary {
  position: relative;
  background-color: transparent;
  border: 2px solid #3ae;
  border-radius: 3px;
  color: #3ae;
  transition: all 0.3s;
  }
  
.btn-primary:hover {
  position: relative;
    background-color: 	#3ae;
    border: 2px solid 	#3ae;
    border-radius: 3px;
    color: #fffaf0;
    transform: scale(0.9);
  }
  
.btn-primary:active {
  position: relative;
  background-color: #3ae;
  border: 2px solid #3ae;
  border-radius: 3px;
  color: #fffaf0;
  transform: scale(0.9);
  }

.container-text {
  padding: 10px;
  background-color: #fff;
  margin-top: 20px;
  }

section {
text-align: center;

}
  
/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 40%;
  padding: 12px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  }
  
  
/* Style the submit button */
input[type=submit] {
  background-color: #3ae;
  color: white;
  border: none;
  margin-bottom: 30px;
  }
  
input[type=submit]:hover {
  opacity: 0.8;
  }

/* unvisited link */
.link:link {
  color: #3ae;
  text-decoration: none;
}

/* visited link */
.link:visited {
  color: #3ae;
  text-decoration: none;
}

/* mouse over link */
.link:hover {
  color: #fff;
  text-decoration: none;
}

/* selected link */
.link:active {
  color: #22d;
}