@import "nav.css";
@import "footer.css";
@import "index layout.css";

.header {
    grid-area: hd;
    background-color:#134;
    height: 80px;
    }
    
    
.content {
    grid-area: main;
    width: 620px;
    height: 450px;
    background-image: url("../img/Success.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #fffaf0; 
    z-index: 1;
    }

.post {
    grid-area: post;
    width: 620px;
    height: 450px;
    background-image: url("../img/tug-of-war.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    color: #fffaf0;
    z-index: 1;
    }

.feater {
    grid-area: feat;
    width: 100%;
    margin-top: 30px;
    display: grid;
     }

/* for large Screem */
@media(min-width:900px){
.container{
    display: grid;
    margin: auto;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(80px, auto);
    grid-template-areas: 
    "hd hd"
    "main post" 
    "feat feat"
    "ft ft";
    }
}

/* for small Screem */
@media(max-width:600px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: minmax(80px, auto);
        min-width: 320px;
        padding: 0;
        margin: 0;
        gap: 20px; 
        grid-template-areas: 
        "hd"
        "main" 
        "post"
        "feat"
        "ft";
    }
    .feater {
        width: 45%;
        }

    .content {  
        width: 500px;
        height: 400px;
        flex-flow: row nowrap;
        }

    .post {
        width: 500px;
        height: 400px;
        flex-flow: row nowrap;
        }

    .box-one {
        width: 400px;
        }
         
    .box-two {
        width: 400px;
        margin-left: 35px;
        margin-top: 15px;
        }

    .header {
        width: 52%;
        height: 100px;
        }

    .btn {
        width: 100px;
        padding: 5px 0;
        font-size: 0.8em;
        margin: 10px;
        }

    .footer{
        width: 52%;
        height: 100px;
        }
            
    #navbar {
        margin-left: 120px;
        margin-top: 30px;
        }

    li>a {
        line-height: 10px;
        text-align: left;
        margin-left: 0;
        }

    .title{
        margin-left: 150px;
        margin-bottom: 10px;
        }

    input[type=text], input[type=submit] {
        width: 40%;
        }


}

    
