h2 {
    text-align: center;
    color: #000;
    font-size: 40px;
    margin-top: 50px;
}

#one {
    background-image: url("../img/brian-tracy.jpg");
    background-size: cover;
    width: 300px ;
    height: 300px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 100%;
}

h3 {
    text-align: left;
    font-size: 30px;
    color: #000; 
    margin-left: 30px;
    margin-top: 50px;
    margin-bottom: 30px;   
}

/*underline text*/
#underline {
    text-decoration: underline;
    margin-left: 30px;
    font-size: 20px;
    text-align: initial;
    text-align-last: left;
    color: #000;
    padding-right: 10px;
}

p {
    margin-left: 30px;
    font-size: 20px;
    text-align: initial;
    text-align-last: left;
    color: #000;
    padding-right: 30px;
    margin-bottom: 20px;
}

.box {
    background: #fff;
}

.book {
    width: 650px;
    height: 300px;
    margin-left: 30px;
}

figcaption{
    margin-left: 30px;
    margin-bottom: 20px;
}

/* unvisited link */
.link:link {
    color: #22d;
  }
  
  /* visited link */
.link:visited {
    color: #000;
  }
  
/* mouse over link */
.link:hover {
    color: #22d;
  }
  
/* selected link */
.link:active {
    color: #22d;
  }
 
